@font-face {
    font-family: "DC4";
    src: url('../fonts/DC4.TTF')format("truetype");
}
/* Carousel */
.about-us-service-title {
  text-align: center;
}
.banerText{
  margin-top:-52px;
  margin-left:95px;
  font-weight: bold;
}
.carousel-container {
  display: flex;
  text-align: center;
  position: relative;
  height: 450px;
  width: 100%
  margin: 0 auto;
  overflow: clip;
}

.carousel-text {
  font-family:"DC4";
  padding: 37px;
  text-align:left;
  font-weight: bold;
}

.carousel-card {
  height: 300px;
  width: 300px;
  transition: 1s;
  opacity: 1;
  position: absolute;
  top: 0;
  background-color: #F58220;
  color: rgba(184,184,185,1);
  cursor: pointer;
  box-shadow: 1px 2px 3px grey;
}
.flickity-card {
  height: 300px;
  width: 300px;
  opacity: 1;
  background-color: white;
  color: rgba(184,184,185,1);
  cursor: pointer;
  box-shadow: 1px 2px 3px grey;
  display: block;
  margin: auto;
}

.carousel-icon {
  height: 100px;
  width: 100px;
  margin-top: 20px;
}
.flickity-icon {
  height: 100px;
  width: 100px;
  margin-top: 20px;
}
.profilPicture {
  height: 90px;
  width: 90px;
  margin-top: -25px;
  border-radius: 50%;
  border: white 5px solid;
  margin-left: -130px;
}
 #truc{
   width:300px;
   height: 50px;
   background-color: white;
   color: rgba(184,184,185,1);
   cursor: pointer;
   box-shadow: 1px 2px 3px grey;
 }
#far-left {
  left: -3%;
  transform: scale(.9) translateY(0%) translateX(-50%);
  z-index: 5;
  background-color: rgba(255,255,255,1);
  opacity: 0.5;
}

#left {
  left: 32%;
  transform: scale(1) translateY(0%) translateX(-50%);
  z-index: 10;
  background-color: rgba(255,255,255,1);
  opacity: 0.75;
}

#center {
  left: 50%;
  transform: scale(1.05) translateY(0%) translateX(-50%);
  z-index: 15;
  background-color: rgba(255,255,255,1);
}

#right {
  left: 67%;
  transform: scale(1) translateY(0%) translateX(-50%);
  z-index: 10;
  background-color: rgba(255,255,255,1);
  opacity: 0.75;
}

#far-right {
  left: 100%;
  transform: scale(.9) translateY(0%) translateX(-50%);
  z-index: 5;
  background-color: rgba(255,255,255,1);
  opacity: 0.5;
}

#hidden-right{
  left: 89%;
  transform: scale(1) translateY(0%) translateX(500%);
  z-index: 10;
  background-color: rgba(255,255,255,1);
  opacity: 0;
}
#hidden-left{
  left: 89%;
  z-index: 10;
  transform: scale(1) translateY(0%) translateX(-500%);
  background-color: rgba(255,255,255,1);
  opacity: 0;
}
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media only screen and (min-device-width: 916px) {
  .main-gallery{
    display: none;
  }
}
@media only screen and (max-device-width: 915px) {
  .carousel-container{
    display: none;
  }
}
@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}
