#triangle-code{
 display : block;
 height : 0;
 width : 0;
 border-right : 10px solid transparent;
 border-bottom : 10px solid rgba(56,64,72,1);
 border-left : 10px solid transparent;
 margin:auto;
  position: relative;
  top:-12px;
}
.contactBar{
  width: 100%;
  height: 50px;
  background-color: white;
  position: fixed;
  bottom:0;
  z-index: 1000;
  transition: all .3s ease;
  border-bottom:solid rgba(56,64,72,1); 3px;
  color:rgba(56,64,72,1);
}
.contactBar.expand {
  height: 450px;
  padding-top: 20px;
  padding-bottom: 50px;
   overflow-y: auto;
}
.contactBar.expand #triangle-code{
  display: none;
}
#callDemo:hover{
  cursor: pointer;
}
#callDemo{
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.require{
  color: red;
}
.btn-send{
  background-color: rgba(244, 66, 128, 1);
  color: white;
  width: 100%;
  margin-top: 25px;
}
@media only screen and (max-device-width: 575px) {
  .contactBar.expand {
    height: 100vh;
    padding-bottom: 20px;
  }

}
