@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Light.ttf')format("truetype");
}
body{
  font-family:"Roboto";
}
section{
   padding-top: 200px;
   text-align: center;
  min-height: 100vh;
}
.paragraphPanel1{
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
}
.paragraphPanel1.bold{
  margin-top: 50px;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 3px;
}
.subParagraphPanel1{
  color:white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 60px;
  letter-spacing: 3px;
}
.paragraphPanel2.bold{
  margin-top: 50px;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.paragraphPanel2{
  color:white;
  letter-spacing: 3px;
}
#test{
  height: inherit;
}
#firstPage{
   background: url(../images/backSection1.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;flex: 1;
}

#secondPage{
   background: url(../images/backSection2.png) no-repeat center fixed;
  -webkit-background-size: container; /* pour anciens Chrome et Safari */
  background-size: cover;flex: 1;
}

#thirdPage{
   background: url(../images/backSection3.png) no-repeat center fixed;
  -webkit-background-size: center; /* pour anciens Chrome et Safari */
  background-size: center;flex: 1;
}

#fourthPage{
   background: url(../images/backSection4.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;flex: 1;
}

#fifthPage{
   background: url(../images/backSection5.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;flex: 1;
}

#sixthPage{
   background: url(../images/backSection6.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;flex: 1;
}

#seventhPage{
   background: url(../images/backSection7.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;flex: 1;
}

#eighthPage{
   background: url(../images/backSection8.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;flex: 1;
}

#ninthPage{
   background: url(../images/backSection9.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;flex: 1;
}

#tenthPage{
   background: url(../images/backSection10.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;flex: 1;
}

.panelGroup{
  margin-top:120px;
}

#yellowText{
  font-weight: bold;
  color: rgba(227,206,68,1);
}
.multiDiffus{
  font-size: 20px;
  color:white;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 40px;
}
.multiDiffusText{
  margin-top: 30px;
  font-size: 18px;
  color:white;
  text-align:justify;
}
.createSite{
  font-size: 20px;
  color:white;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 40px;
}
.createSiteText{
  margin-top: 30px;
  font-size: 18px;
  color:white;
  text-align:justify;

}
.pagination {
	position:fixed;
	right:20px;
	top: 50%;
	font-size:1.4em;
	z-index: 10;
  display: inline;
  transform: translate(-50%, -50%);
}
.pagination a {
	display:block;
	height:20px;
	margin-bottom:45px;
	color:white;
	position:relative;
	padding:4px;
}

.pagination a.dashed:before {
  content:'';
  position:absolute;
  border-left:1px dotted ;
  right:10px;
  bottom:0;
  z-index:-1;
  height:150%;
  top:30px;
}

.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:7px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
  background-color: white;
  color:black;
  text-transform: uppercase;
  font-size: 15px;
  padding: inherit;
  text-align: center;
  width:180px;
  margin-right: 20px;
  margin-bottom: 60px;
}
.pagination a:hover .hover-text {
	opacity: 1;
  background-color: white;
  color:black;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  padding: inherit;
  vertical-align: top;
  width:180px;
  margin-right: 20px;
  margin-bottom: 60px;
}
.pagination a:after {
	width:15px;
	height:15px;
	display: block;
	border:3px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
  background-color: white;
}
.pagination a.active:after {
	width:16px;
	height:16px;
	display: block;
	border:2px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
  background-color: black;
}
#logoAccelerh{
  position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    max-width: 100%;
    top: 0;
    z-index: 10;
}
 #mainAccelerh{
   width: 50%;
 }
 .filter-color{
   filter: brightness(0) invert(1);
   width: 80px;
 }

 .element-item {
   position: relative;
   float: left;
   width: 90px;
   height: 90px;
   margin: 2px;
   padding: 10px;
   background: white;
   color: #262524;
 }

 #multiDiffusButton{
   width: 50%;
   border: none;
   background-color: white;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 15px;
   padding: 5px;
   position: relative;
   top:-50px;

 }

 #fourthPanelGroup{
   margin-top: 160px;
 }

 .grid{
   margin-left: 9%;
 }

 .element-item > * {
   margin: 0;
   padding: 0;
 }


 @media only screen and (max-device-width: 1399px) {

   #multiDiffusButton{
     width: 90%;
     border: none;
     background-color: white;
     font-weight: bold;
     text-transform: uppercase;
     font-size: 15px;
     padding: 5px;
     position:inherit;
     display: block;
     margin: auto;
     margin-top: 10px;

   }
   .panelGroup{
     margin-top: 20px;
   }

   #thirdPage{
     height: 980px;
   }

 }


 @media only screen and (max-device-width: 915px) {
   .scrollable-section{
     padding-top: 30px;
   }
   .panelGroup{
     margin-top: 80px;
   }
   #firstPage{
     height: 900px;
   }
   #secondPage{
     height: 1180px;
   }

   #fourthPanelGroup{
     margin-top: 160px;
   }

   #fourthPage{
      background: url(../images/backSection4Bis.png) no-repeat center fixed;
     -webkit-background-size: cover; /* pour anciens Chrome et Safari */
     background-size: cover;flex: 1;
   }

 }

 @media only screen and (max-device-width: 421px) {
   #thirdPage{
     height: 1180px;
   }

 }

 @media only screen and (max-device-width: 410px) {
   .paragraphPanel1{
     text-transform: uppercase;
     color: white;
     line-height: 25px;
   }
   .pagination{
     right: 0;
   }
 }

 @media only screen and (max-device-width: 327px) {
   #thirdPage{
     height: 1380px;
   }

 }

 @media only screen and (max-device-height: 650px) {
   .pagination a {
   	display:block;
   	height:20px;
   	margin-bottom:15px;
   	color:white;
   	position:relative;
   	padding:4px;
   }
   .pagination a.dashed:before {
     content:'';
     position:absolute;
     border-left:1px dotted ;
     right:10px;
     bottom:0;
     z-index:-1;
     height:80%;
     top:20px;
   }
 }
