section{
   padding-top: 200px;
   text-align: center;
  min-height: 100vh;
}
.paragraphPanel1{
  text-transform: uppercase;
  color: white;
}
.paragraphPanel1.bold{
  margin-top: 50px;
  font-weight: bold;
  font-size: 25px;
}
.subParagraphPanel1{
  color:white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 60px;
}
.paragraphPanel2.bold{
  margin-top: 50px;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
}
.paragraphPanel2{
  color:white;
}
#test{
  height: inherit;
}
#firstPage{
   background: url(../images/backSection1.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;flex: 1;
}

#secondPage{
   background: url(../images/backSection2.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;flex: 1;
}

#thirdPage{
   background: url(../images/backSection3.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;flex: 1;
}

#fourthPage{
   background: url(../images/backSection4.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;flex: 1;
}

#fifthPage{
   background: url(../images/backSection5.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;flex: 1;
}

#sixthPage{
   background: url(../images/backSection6.png) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;flex: 1;
}

#thirdPage{
   background-color: green;
}

#fourthPage{
   background-color: yellow;
}

#fifthPage{
   background-color: purple;
}

#sixthPage{
   background-color: gray;
}

#seventhPage{
   background-color: pink;
}

#eighthPage{
   background-color:orange;
}

#ninthPage{
   background-color: #900C3F;
}

#tenthPage{
   background-color: #dd35f4;
}

#firstPanelGroup{
  margin-top:120px;
}

#secondPanelGroup{
  margin-top:120px;
}

.pagination {
	position:fixed;
	right:20px;
	top: 50%;
	font-size:1.4em;
	z-index: 10;
  display: inline;
  transform: translate(-50%, -50%);
}
.pagination a {
	display:block;
	height:20px;
	margin-bottom:45px;
	color:white;
	position:relative;
	padding:4px;
}

.pagination a.dashed:before {
  content:'';
  position:absolute;
  border-left:1px dotted ;
  right:10px;
  bottom:0;
  z-index:-1;
  height:150%;
  top:30px;
}

.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:7px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
  background-color: white;
  color:black;
  text-transform: uppercase;
  font-size: 15px;
  padding: inherit;
  text-align: center;
  width:180px;
  margin-right: 20px;
  margin-bottom: 60px;
}
.pagination a:hover .hover-text {
	opacity: 1;
  background-color: white;
  color:black;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  padding: inherit;
  vertical-align: top;
  width:180px;
  margin-right: 20px;
  margin-bottom: 60px;
}
.pagination a:after {
	width:15px;
	height:15px;
	display: block;
	border:3px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
  background-color: white;
}
.pagination a.active:after {
	width:16px;
	height:16px;
	display: block;
	border:2px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
  background-color: black;
}
#logoAccelerh{
  position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    max-width: 100%;
    top: 0;
}
 #mainAccelerh{
   width: 50%;
 }
 .filter-color{
   filter: brightness(0) invert(1);
   width: 80px;
 }
 @media screen and (max-width: 410px) {
   .paragraphPanel1{
     text-transform: uppercase;
     color: white;
     line-height: 25px;
   }
   .pagination{
     right: 0;
   }
 }
 @media screen and (max-width: 575px) {
   #firstPage{
     height:120vh;
   }
 }
 @media screen and (max-height: 590px) {
   .pagination a {
   	display:block;
   	height:20px;
   	margin-bottom:15px;
   	color:white;
   	position:relative;
   	padding:4px;
   }
   .pagination a.dashed:before {
     content:'';
     position:absolute;
     border-left:1px dotted ;
     right:10px;
     bottom:0;
     z-index:-1;
     height:80%;
     top:20px;
   }
 }
